###################################################################################################
# 00-packages.config
# Instala pacotes extras necessários (apenas se precisar)
###################################################################################################

packages:
  yum:
    jq: []
    htop: []
    telnet: []
    
commands:
  01_update_packages:
    command: "yum update -y"
    ignoreErrors: true