###################################################################################################
# 02-https-redirect.config
# Configura redirecionamento HTTP (80) → HTTPS (443) no ALB
###################################################################################################

Resources:
  AWSEBV2LoadBalancerListener80:
    Type: 'AWS::ElasticLoadBalancingV2::Listener'
    Properties:
      DefaultActions:
        - Type: redirect
          RedirectConfig:
            Protocol: HTTPS
            Port: '443'
            Host: '#{host}'
            Path: '/#{path}'
            Query: '#{query}'
            StatusCode: HTTP_301
      LoadBalancerArn:
        Ref: AWSEBV2LoadBalancer
      Port: 80
      Protocol: HTTP

option_settings:
  # Configuração dos listeners
  aws:elbv2:listener:80:
    ListenerEnabled: 'true'
    Protocol: HTTP
    
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLPolicy: ELBSecurityPolicy-TLS13-1-2-2021-06