###################################################################################################
# 02-https-redirect.config
# Configura redirecionamento HTTP (80) → HTTPS (443) no ALB
###################################################################################################

option_settings:
  # Configuração dos listeners
  aws:elbv2:listener:80:
    ListenerEnabled: 'true'
    Protocol: HTTP
    
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLPolicy: ELBSecurityPolicy-TLS13-1-2-2021-06